html,
body {
  height: 297mm;
  width: 210mm;
  background-color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* Global Variables */
  --color-light-grey: rgb(190, 190, 190);
  --color-grey: rgb(150, 150, 150);
  --color-bright-blue: #b3b3f5;
  --color-darkb-blue: #181849;
  --color-lighter-blue: #6f6fc4;
  --color-yellow: #e9a429;
  --font-raleway: "Raleway", sans-serif;
  --font-oswald: "Oswald", sans-serif;

  display: grid;
  grid-template-columns: 42% 1fr;
  background-color: #181849;
  font-family: var(--font-raleway);
  line-height: 1.35;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  margin: 0;
}

h1 {
  font-size: 42px;
}
h2 {
  font-weight: 100;
  font-size: 24px;
  margin-bottom: 0.25em;
  color: var(--color-light-grey);
}
h3 {
  font-size: 20px;
  margin: 0;
  margin-bottom: 0.25em;
}

p {
  line-height: 1.5;
  margin: 0;
  margin-bottom: 1em;
}

a{
  color: var(--color-yellow);
}

aside {
  width: 100%;
  background-color: #181849;
  padding: 50px 30px 30px 60px;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  h1{
    margin-bottom: 24px;
  }

  .story {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.35;
    font-weight: 100;
    color: var(--color-bright-blue);
    &:last-of-type{
      margin-bottom: 40px;
    }
  }
}

main {
  flex: 1;
  background-color: rgb(250, 250, 250);
  padding: 50px 40px 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.list{
  margin-bottom: 20px;
  header{
    text-transform: uppercase;
    color: var(--color-lighter-blue);
    margin-bottom: 12px;
  }
  ul{
    font-size: 14px;
    padding: 0;
  }
  li{
    line-height: 1.75;
    list-style-type: none;
    &:before{
      content: '-';
      display: inline-block;
      margin-right: 0.5em;
    }
    span{
      color: #7d7da1;
    }
  }
  .label, .value{
    margin: 0;
    font-weight: bold;
    font-size: 14px;
  }
  .label{
    color: var(--color-lighter-blue);
  }
  .value{
    margin-bottom: 12px;
  }
}

.job {
  width: 100%;
  margin-bottom: 32px;
  &:last-of-type{
    margin-bottom: 0;
  }
  &.job-highlight {
    p {
      font-size: 16px;
    }
    h3 {
      font-size: 28px;
    }
  }

  .subheader-big {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  h3 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 0.2em;
  }
  .timeframe {
    font-family: var(--font-oswald);
    font-weight: bold;
    font-size: 14px;
    color: var(--color-dark-blue);
    position: relative;
    top: 8px;
    color: var(--color-grey);
  }
  p {
    font-size: 14px;
  }

  li{
    margin-bottom: 0.5em;
  }

  ul{
    margin:0;
  }
}

@page {
  size: 210mm 297mm;
  margin: 27mm 16mm 27mm 16mm;
}

